Repository kubernetes-sigs/cluster-api-ipam-provider-in-cluster, pull requests merged in 2024-01, with the labels that each got.

#219 🌱 Bump sigs.k8s.io/cluster-api from 1.4.1 to 1.6.0
  .github/workflows/pullrequests.yaml
  .golangci.yml
  Dockerfile
  config/crd/test/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  config/crd/test/ipam.cluster.x-k8s.io_ipaddresses.yaml
  config/samples/claim.yaml
  go.mod
  go.sum
  internal/controllers/inclusterippool.go
  internal/controllers/inclusterippool_test.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/suite_test.go
  internal/index/index.go
  internal/poolutil/pool.go
  internal/webhooks/inclusterippool.go
  internal/webhooks/inclusterippool_test.go
  internal/webhooks/util_test.go
  main.go
  pkg/ipamutil/address.go
  pkg/predicates/references.go
  pkg/predicates/references_test.go
Labels: cncf-cla: yes, size/XXL, approved, lgtm

#203 :warning: Generic claim reconciler
  .github/workflows/draft_release.yaml
  .github/workflows/pullrequests.yaml
  api/v1alpha1/conversion.go
  go.mod
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/suite_test.go
  main.go
  pkg/ipamutil/address.go
  pkg/ipamutil/reconciler.go
Labels: cncf-cla: yes, size/XL, approved, lgtm

#226 🐛 bump go version for container images to 1.21
  Dockerfile
Labels: cncf-cla: yes, size/XS, approved
